<!DOCTYPE html>
<html>
<head>
    <title>/in/place</title>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?v1">
    <link rel="shortcut icon" href="/static/img/icons/favicon.png?v1" type="image/png"/>
    <script src="https://kit.fontawesome.com/b572bccbd7.js" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/static/js/libs/ftscroller.js?v1'></script>
    <script type='text/javascript' src='/static/js/libs/hammer.min.js?v1'></script>
    <script type='text/javascript' src='/static/js/libs/md5.min.js?v1'></script>
    <script type='text/javascript' src="/static/js/functions.js?v1"></script>
</head>
<body id="body">
    <div class="canvas-wrapper" id="canvasWrapper">
        <canvas id="canvas" height="200" width="200"></canvas>
    </div>
    <div id="painter" class="painter" id="painter">
        <div class="painter-info"></div>
        <label>Select color here</label>
        <input id="painterInput" class="painter-input" onChange="changeColor(this.value)" type="color">
        <label>and tap anywhere to paint!</label>
        <hr>
        <label>Use mouse or finger to move canvas</label>
        <br>
        <label>Scroll or pitch to zoom</label>
    </div>
    <script type='text/javascript' src="/static/js/app.js?v1"></script>
</body>
</html>