<!DOCTYPE html>
<html>
<head>
    <title>/in/place</title>
    <meta charset=utf-8>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/icons/favicon.png" type="image/png"/>
    <script src="https://kit.fontawesome.com/b572bccbd7.js" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/static/js/libs/ftscroller.js'></script>
    <script type='text/javascript' src='/static/js/libs/hammer.min.js'></script>
    <script type='text/javascript' src="/static/js/functions.js"></script>
</head>
<body>
    <div class="canvas-wrapper" id="canvasWrapper">
        <canvas id="canvas" height="200" width="200"></canvas>
    </div>
    <div class="controls" id="controls">
        <i class="controls-drag fas fa-arrows-alt" draggable="true" ondrag="dragControls()"></i>
        <input class="controls-zoom" id="zoom" type="range" min="1" max="16" step="0.1" value="1" onInput="zoomCanvas(this.value)">
    </div>
    <div id="painter" class="painter" id="painter">
        <div class="painter-info"></div>
        <label>Current color:</label>
        <input id="painterPixelColor" class="painter-input" type="color" disabled>
        <hr>
        <label>New color:</label>
        <input id="painterInput" class="painter-input" onChange="changeColor(this.value)" type="color">
        <button class="painter-button" id="paintButton" onClick="paint()">Paint!</button>
    </div>
    <script type='text/javascript' src="/static/js/app.js"></script>
    <script type='text/javascript' src="/static/js/controls.js"></script>
</body>
</html>