<!DOCTYPE html>
<html>
<head>
    <title>Pixel Wars</title>
    <meta charset=utf-8>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?v1">
    <link rel="shortcut icon" href="/static/img/icons/favicon.png?v1" type="image/png"/>
    <script src="https://kit.fontawesome.com/b572bccbd7.js" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/static/js/libs/touch-emulator.js?v1'></script>
    <script type='text/javascript' src='/static/js/libs/ftscroller.js?v1'></script>
    <script type='text/javascript' src='/static/js/libs/hammer.min.js?v1'></script>
    <script type='text/javascript' src='/static/js/libs/md5.min.js?v1'></script>
    <script type='text/javascript' src="/static/js/functions.js?v1"></script>
    <script type='text/javascript' src="/static/js/network.js?v1"></script>
    <script type='text/javascript' src="/static/js/canvas.js?v1"></script>
    <script type='text/javascript' src="/static/js/controls.js?v1"></script>
</head>
<body id="body">
    {% block body %}
    {% endblock %}
</body>
</html>