{% extends "layout.html" %}
{% block body %}
    <script type='text/javascript' src="/static/js/rewind.js?v3"></script>
    <div id="app"></div>
    <input type="range" class="rewind" id="historyRange" min="0" max="0" onInput="app.historyChange(this.value)">
    <input type="button" class="play" value="play" id="play" onClick="app.play()">
    <input type="button" class="pause" value="pause" id="pause" onClick="app.pause()">
    <script>
        app = new App(document.getElementById('app'));
    </script>
{% endblock %}