html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background-color: black;
   overflow: hidden;
}
.canvas-wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
}
canvas {
    position: absolute;
    left: 0;
    top: 120px;
    transform-origin: center;
    transform: scale(1);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
#heatmapCanvas {
    image-rendering: unset!important;
}
.painter {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.rewind {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.play {
    position: fixed;
    top: 26px;
    left: 0;
    width: 60px;
}
.pause {
    position: fixed;
    top: 26px;
    left: 60px;
    width: 60px;
}
@media(max-width: 480px) {
    .painter {
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
    }
}